.container {
    padding-top: 8px;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.column {
    width: 50%;
    box-sizing: border-box;
    flex-direction: column;
}

.base-column {
    width: 70%;
}