<div class="base-column on-surface-text">
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Клиент-серверная архитектура</h2>
        </div>

        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                Сама концепция клиент-серверной архитектуры заключается в разделении некоторых зон ответственности: в
                разделении
                функций клиента и сервера. Что это означает?
                <br>
                <br>Например, мы разделяем нашу систему так, что клиент (допустим, это мобильное приложение) реализует
                только
                функциональное взаимодействие с сервером. При этом сервер реализует в себе логику хранения данных,
                сложные
                взаимодействия со смежными системами и т.д.
                <br>
                <br>Что мы этим добиваемся и как могло бы быть иначе? Давайте представим, что клиент и сервер у нас
                объединены.
                Тогда, если мы говорим о мобильном приложении, каждое мобильное приложение каждого клиента должно было
                бы быть
                абсолютно самодостаточной единицей. И тогда, поскольку у нас единого сервера нет для получения/отправки
                информации, у нас получилась бы какая-то сеть единообразных компонентов – например, мобильные приложения
                общались бы друг с другом – такая распределённая сеть равноценных узлов.
                <br>
                <br>Такие системы в реальной жизни есть и можно найти их примеры. Например, в блокчейне. Тем не менее, в
                случае
                с REST мы говорим о том, что разделяем ответственность. Например, отображение информации, её обработку и
                хранение.
            </p>
        </div>

    </div>
    <div class="image-card margin-16">
        <img src="static/res/images/d9fd573051df0ba2347498a595618296.png" class="info-card-image">
    </div>
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Что дает клиент-серверная архитектура и зачем она нужна?</h2>
        </div>
        <div class="info-card-content-centered secondary-item padding-16">
            <p>Во-первых, клиент-серверная архитектура дает нам определённую масштабируемость: есть сервер, есть единая
                точка
                обработки запросов. При необходимости выдерживать большую нагрузку мы можем поставить несколько
                серверов. Также
                к нему можно подключать достаточно большое количество клиентов (сколько сможет выдержать). Таким
                образом,
                клиент-серверная архитектура позволяет добиться масштабируемости.
                <br>
                <br>Во-вторых, REST даёт определённую простоту поддержки. Если мы хотим изменить логику обработки
                информации на сервере, то выполним эти изменения на сервере. В данном случае мы можем и не менять
                каждого
                клиента, как если бы они были абсолютно равноценной сетью.
                <br>
                <br>Конечно, есть и минусы. В случае с клиент-серверной архитектурой мы понимаем, что у нас есть единая
                точка отказа
                в виде сервера. Если отказал сервер и у нас нет дополнительных инстансов, то для нас это будет означать
                неработоспособность системы.
                <br>
                <br>Также потенциально может увеличиться нагрузка, поскольку часть логики мы вынесли с клиента на
                сервер. Клиент
                будет совершать меньше каких-либо действий самостоятельно, соответственно, у нас возрастёт количество
                запросов
                между клиентом и сервером.
            </p>
        </div>
    </div>
</div>
