<div class="base-column on-surface-text">
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Кэширование</h2>
        </div>

        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                В оригинале этот принцип говорит нам о том, что каждый ответ сервера должен иметь пометку, можно ли его
                кэшировать.
                <br><br>
                Что такое кэширование?
                <br><br>
                Представим, что у нас всё так же есть сервис по прогнозу погоды, есть клиент, с которым взаимодействуют.
                Сам по себе этот сервис погоду не определяет. Погоду определяет метеостанция, с которой он связывается с
                помощью специальных удалённых вызовов. Что происходит, когда мы используем кэширование?
                <br><br>
                Например, клиент обратился к серверу с запросом «Хочу узнать погоду». Что делает сервер?
                <br><br>
                Если мы его только запустили и используем кэширование или если мы не используем кэширование вообще —
                сервер обратится к метеостанции, а она вернёт ему ответ. Перед тем, как сервер ответит клиенту, он
                должен сохранить эту информацию в кэше. И только потом вернуть ответ. Для чего?
                <br><br>
                Когда клиент в следующий раз отправит ровно такой же запрос, сервер сможет не обращаться к метеостанции.
                Он сможет извлечь прогноз из кэша и вернуть ответ клиенту.
            </p>
        </div>

    </div>
    <div class="image-card margin-16">
        <img src="static/res/images/e386ff43feb7ca70615f1eb2111abe4f.png" class="info-card-image">
    </div>
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Какие плюсы?</h2>
        </div>
        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                - Уменьшение количества сетевых взаимодействий
                <br>
                - Уменьшение нагрузки на системы (не грузим их дополнительными запросами)
                <br><br>
                В каких-то случаях одинаковых обращений будет не так много. Тогда кэширование использовать нет смысла.
                <br><br>
                При этом важно понимать, что кэширование — это совсем не простая штука. Она бывает достаточно сложна и
                нетривиальна в реализации.
                Также мы должны учитывать, что если отдаём какие-то данные, которые сохранили раньше, то важно помнить,
                что эти данные могли уже устареть.
                <br><br>
                В каких-то случаях это может быть приемлемо, но в каких-то случаях — абсолютно недопустимо.
                Соответственно, стоит ли использовать кэширование — всегда нужно обдумывать на конкретном примере.
            </p>
        </div>
    </div>
</div>