<div class="base-column on-surface-text">
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Code on done (код по требованию)</h2>
        </div>

        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                Идея передачи некоторого исполняемого кода (по сути какой-то программы) от сервера клиенту.
                <br><br>
                Что это значит?
                <br><br>
                Представьте, что клиент — это, например, обычный браузер. Клиент отправляет некоторый запрос и ждёт
                ответа — страницу с определённым интерактивом (например, должен появляться фейерверк в том месте, где
                пользователь кликает кнопкой мышки). Это всё может быть реализовано на стороне клиента.
                <br><br>
                Либо клиент, запрашивая данную страницу приветствия, получит в ответ от сервера не просто HTML-код для
                отображения, а ещё программу, которую он сам и исполнит. Получается, что сервер передаёт исходный код
                клиенту, а тот его выполняет.
                <br><br>
                Что мы за счёт этого получаем? Отчасти, это схоже с принципом HATEOAS. Мы позволяем клиенту стать гибче.
                Если мы захотим изменить цвет фейерверка, то нам не нужно вносить изменений на клиенте — мы можем
                сделать это на сервере, а затем передавать клиенту. Пример такого языка — javascript.
            </p>
        </div>

    </div>
    <div class="image-card margin-16">
        <img src="static/res/images/0e5e624db672ecf31542362d48eadf28.png" class="info-card-image">
    </div>
</div>