<div class="base-column on-surface-text">
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Единообразие интерфейса. HATEOAS</h2>
        </div>

        <div class="info-card-content-centered secondary-item">
            <div class="margin-16">
                <p>
                    <br>
                    Hypermedia as the Engine of Application State (HATEOAS) — одно из ограничений REST, согласно которому
                    сервер возвращает не только ресурс, но и его связи с другими ресурсами и действия, которые можно с ним
                    совершить.
                </p>
                <p>
                    Предположим, что мы совершили некий запрос.<br>
                    Если бы мы не использовали подход HATEOAS, то получили бы примерно такой XML-ответ:
                </p>
            </div>
            <img src="static/res/images/f751b09763b4c491b1ac399ca3a051dc.png" class="info-card-image">
            <div  class="margin-16">
                <p>
                    Здесь указан номер счёта, баланс и валюта.
                    <br><br>
                    Что же предлагает HATEOAS? Если бы мы с учётом этого ограничения выполняли бы этот запрос, то в ответе
                    получим не только информацию об этом объекте, но и все те действия, которые мы можем с ним совершить. И,
                    если бы у него были бы какие-то важные связанные объекты, мы получили бы ещё и ссылки на них.
                    <br>
                </p>
            </div>
            <img src="static/res/images/effa5a0efbe600988caa50477b4cad44.png" class="info-card-image">
        </div>

    </div>
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Что это даёт?</h2>
        </div>
        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                Получая такие ответы, клиент самостоятельно понимает, какие конкретные действия он может совершать над
                этим объектом и какую ещё информацию о связанных объектах он может получить. Мы даём клиентскому
                приложению намного больше информации и свободы действий. Логика клиента становится более гибкой, но при
                этом и более сложной.
                <br><br>
                Гплюс этого подхода — клиент становится очень гибким в плане изменений на сервере с точки зрения
                изменения допустимых действий, изменения модели данных и т.д.
                <br><br>
                В качестве обратной стороны медали мы получаем сильное усложнение логики, в первую очередь, клиента. Это
                может потянуть за собой и усложнение логики на сервере, потому что такие ответы нужно правильно
                формировать. Фактически ответственность за действия, которые совершает клиент, мы передаём на его же
                сторону. Мы ослабляем контроль валидности совершаемых операций на стороне сервера.
            </p>
        </div>
    </div>
</div>