<div class="base-column on-surface-text">
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Layered system (слоистая архитектура)</h2>
        </div>

        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                В предыдущих схемах мы рассматривали сторону клиента и сторону сервера, но не думали, что между ними
                могут быть посредники.
                <br><br>
                В реальной жизни между ними могут быть, к примеру, proxy-сервера, роутеры, балансировщики — все, что
                угодно. И то, по какому пути запрос проходит от клиента до сервера, мы часто не можем знать.
                <br><br>
                Концепция слоистой архитектуры заключается в том, что ни клиент, ни сервер не должны знать о том, как
                происходит цепочка вызовов дальше своих прямых соседей.
                <br><br>
                Знания балансировщика в этой схеме об участниках конкретно этой цепочки вызовов должны заканчиваться
                proxy-сервером слева и сервером справа. О клиенте он уже ничего не знает.
                <br><br>
                Если изменяется поведение proxy-сервера (балансировщика, роутера или чего-то ещё), это не должно повлечь
                изменения для клиентского приложения или для сервера. Помещая их в эту цепочку вызовов, мы не должны
                замечать никакой разницы. Это позволяет нам изменять общую архитектуру без доработок на стороне клиента
                или сервера.
            </p>
        </div>

    </div>
    <div class="image-card margin-16">
        <img src="static/res/images/d88b7af4e68e3dfc8f40d6edfd03f6cf.png" class="info-card-image">
    </div>
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Минусы</h2>
        </div>
        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                - Увеличение нагрузки на сеть (больше участников и больше вызовов, чем если бы мы шли один раз от клиента до сервера напрямую).
                <br>
                - Увеличение времени получения ответа (из-за появления дополнительных участников).
            </p>
        </div>
    </div>
</div>