<div class="base-column on-surface-text">
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Stateless</h2>
        </div>

        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                Принцип заключается в том, что сервер не должен хранить у себя информацию о сессии с клиентом. Он должен
                в каждом запросе получать всю информацию для обработки.
                <br><br>
                Представим, что у нас есть некоторый сервис прогноза погоды, в котором уже реализована клиент-серверная
                архитектура, и мы хотим получить сообщение о прогнозе погоды на завтра.
                <br><br>
                Что мы делаем в случае, если мы работаем с Stateless? Мы отправляем запрос «Какая погода?», отправляем
                место, где хотим погоду узнать, и дату. Соответственно, прогноз погоды отвечает нам — «Будет жарко».
                <br><br>
                Если я захочу узнать, какая будет погода через день, то опять укажу место, где хочу узнать погоду, укажу
                другую дату. Сервер получит этот запрос, обработает и сообщит мне, что там уже будет очень жарко.

            </p>
        </div>

    </div>
    <div class="image-card margin-16">
        <img src="static/res/images/fe7303c6b9919e620e53ac7990790bec.png" class="info-card-image">
    </div>
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Какие он даёт плюсы?</h2>
        </div>
        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                - Масштабируемость сервера
                <br>
                - Уменьшение времени обработки запроса
                <br>
                - Простота поддержки
                <br>
                - Возможность использовать кэширование
                <br><br>
                В первую очередь, это масштабирование сервера. Если каждый запрос содержит в себе абсолютно весь
                контекст, необходимый для обработки, то можно, например, клонировать сервер-обработчик: вместо одного
                поставить десять таких. Мне будет абсолютно неважно, в какой из этих клонов придёт запрос. Если бы они
                хранили состояние, то либо должны были синхронизироваться, либо мне нужно было бы умело направлять
                запрос в нужное место.
                <br><br>
                Помимо этого, появляется простота поддержки. Каждый раз я вижу в логах, какое сообщение приходило от
                клиента, какой ответ он получал. Мне не нужно дополнительно узнавать о том, какое состояние хранил
                сервер.
            </p>
        </div>
    </div>
    <div class="info-card secondary-box border margin-16">
        <div class="info-card-title-start">
            <h2>Какие проблемы может создать Stateless-подход?</h2>
        </div>
        <div class="info-card-content-centered secondary-item padding-16">
            <p>
                - Усложнение логики клиента (именно на стороне клиента нам нужно хранить всю информацию о состоянии, о
                допустимых действиях, о недопустимых действиях и подобных вещах).
                <br>
                - Увеличение нагрузки на сеть (каждый раз мы передаём всю информацию, весь контекст. Таким образом,
                больше информации гоняем по сети).
            </p>
        </div>
    </div>
</div>